
  <br/><br/>

  
  <div class="row justify-content-center">
    <div class="col-sm-3 ">
      <div class="card second"style="height: 525px;" >
        <img class="card-img-top" src="assets/images/veggies.jpg" alt="Card image cap"style="height: 300px;">
        <div class="card-body">
          <h5 class="card-title">Change User Status</h5>
          <p class="card-text">Change the Status of the User from Here</p>
          <a href="userStatus" routerLink="/userStatus" class="btn btn-info">Status</a>
        </div>
      </div>
    </div>
    <!-- <div class="col-sm-3 ">
      <div class="card second">
        <img class="card-img-top" src="assets/images/viewcrops.png" alt="Card image cap"  width="250" 
        height="300">
        <div class="card-body">
          <h5 class="card-title">Farmer Rating</h5>
          <p class="card-text"></p>
          <a href="invoice" class="btn btn-info">Give a rating to the farmer</a>
        </div>
      </div>
    </div> -->
    <div class="col-sm-3 ">
      <div class="card  second" style="height: 525px;">
        <img class="card-img-top" src="assets/images/invoice.png" alt="Card image cap" style="height: 300px;">
        <div class="card-body">
          <h5 class="card-title">View Invoices</h5>
          <p class="card-text">Here you can view all your invoices.</p>
          <a href="reports" routerLink="/reports" class="btn btn-info">View Invoice</a>
        </div>
      </div>
    </div>
  </div>
  