
  <br/><br/>

  <div class="outer-div">
  <div class="row justify-content-center" >
    <div class="col-sm-3 ">
      <div class="card second"style="height: 500px;" >
        <img class="card-img-top" src="assets/images/veggies.jpg" alt="Card image cap"style="height: 300px;">
        <div class="card-body">
          <h5 class="card-title">Post Crops</h5>
          <p class="card-text">Publish your crops for sale</p>
          <a href="#" routerLink="/add-crop" class="btn btn-info">Sell Crops</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 ">
      <div class="card second " style="height: 500px">
        <img class="card-img-top" src="assets/images/viewcrops.png" alt="Card image cap"  style="height: 300px;">
        <div class="card-body">
          <h5 class="card-title">View Published Crops</h5>
          <p class="card-text">Click below to see the crops published by you.</p>
          <a  routerLink="/viewcropfarmer" class="btn btn-info">View Crops</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 ">
      <div class="card  second"style="height: 500px;">
        <img class="card-img-top" src="assets/images/invoice.png" alt="Card image cap" style="height: 300px;">
        <div class="card-body">
          <h5 class="card-title">View Invoices</h5>
          <p class="card-text">View all your invoices Here</p>
          <a  routerLink="/invoices" class="btn btn-info">View Invoice</a>
        </div>
      </div>
    </div>
  </div>
</div>