/* .card{

    padding:40px 60px 40px;
    position: relative;
    top:50%;
    left:50%;
   
    
    background: linear-gradient(90deg,rgb(28, 172, 216)0%,rgb(217, 213, 220)100%);
} */
.card{
    border: none;
    width: 30%;
    padding:40px 60px 40px;
    position:relative;
    margin: auto;
    margin-top: 5%;
    background: rgb(174, 212, 241);
    background: linear-gradient(90deg, rgb(174, 212, 241) 0%, rgb(203, 183, 245) 100%);
}
.container{
    height: 71%;
}