<!-- 
  <div class="card first">
    <div class="card-body" >
    <h4 class="text-center">Services </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card second" >
        <img class="card-img-top" src="assets/images/image1.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Buy Crops</h5>
          <p class="card-text">Card for buying crops</p>
          <a href="" class="btn btn-primary">Buy Crops</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card second">
        <img class="card-img-top" src="assets/images/image2.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">View Subscribed Crops</h5>
          <p class="card-text">card for subscribing crops</p>
          <a href="" class="btn btn-primary">View Subscribed Crops</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card  second">
        <img class="card-img-top" src="assets/images/image3.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">View Invoices</h5>
          <p class="card-text">card for viewing invoices</p>
          <a href="" class="btn btn-primary">View Invoicesx</a>
        </div>
      </div>
    </div>
  </div>
   -->

   <br/><br/>

  <div class="outer-div">
   <div class="row justify-content-center">
     <div class="col-sm-3" style="height: 500px">
       <div class="card second" >
         <img class="card-img-top" src="assets/images/veggies.jpg" alt="Card image cap"width="250" 
         height="300">
         <div class="card-body">
           <h2 class="card-title">View Crops</h2>
           <p class="card-text">Click below to see all the crops posted by Farmers all over India</p>
           <a href="#" routerLink="/viewcropdealer" class="btn btn-info">View Crops</a>
         </div>
       </div>
     </div>
  
     <div class="col-sm-3 ">
       <div class="card  second" >
         <img class="card-img-top" src="assets/images/invoice.png" alt="Card image cap" style="height: 250px;">
         <div class="card-body">
           <h2 class="card-title">View Invoices</h2>
           <p class="card-text">Here You can view all your invoices.</p>
           <a href="invoice" routerLink="/invoices" class="btn btn-info">View Invoice</a>
         </div>
       </div>
     </div>
   </div>
  </div>
   