.card{
    border: none;
    width: 40%;
    padding:40px 60px 40px;
    position:relative;
    margin: auto;
    background: rgb(174, 212, 241);
    background: linear-gradient(90deg, rgb(174, 212, 241) 0%, rgb(203, 183, 245) 100%);
  }
  .card {
      /* Add shadows to create the "card" effect */
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
  }
  