  <footer class="bg-light text-center text-lg-start">
   
    <div class="text-center p-3" style="background-color: deepskyblue;">
      © 2022 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">CROPDEAL.com</a>
    </div>
  </footer>
<!-- 
  <footer style ="background-color:#49c049;
            padding-bottom: 0px;
            padding-top:30 px;
            height: 20%;
            
            width: 100%;
"id="footer">
    <div  class="container">
      <h3 style ="color: white; background-color:#49c049">CropDeal</h3>
      <p style ="color: white;">The Perfect Platform for the farmers to sell their crops.</p>
      
      <div tyle ="color: white;" class="copyright">
        &copy; Copyright <strong><span>CropDeal</span></strong>. All Rights Reserved
      </div>
      
    </div>
  </footer> -->